---
layout: page
title: Managing Playlists
chapter: Getting Started
---

<p>To open the Playlist Manager, click the name of the current playlist at the
top of the window, in the center. This is where you create and organize your
playlists.</p>

<h1 id="creating-a-playlist">Creating a Playlist</h1>
<p>To create a new playlist, click the "New Playlist" button in the Playlist
Manager. Give it a name, and press Enter. Then, click "Open" to open your new
playlist.</p>

<h1 id="organizing-playlists">Organizing Playlists</h1>
<p>Playlists can be organized into folders. This can help keep track of
playlists for different events or days of the week, for example. To create a
new folder, click the "New Folder" button in the Playlist Manager. Give it a
name, and press Enter.</p>
<p>You can move a playlist to a different folder by dragging and dropping.</p>

<h1 id="deleting-playlists">Deleting Playlists</h1>
<p>Playlists can be put in the Trash to reduce clutter. Simply right click a
playlist and choose "Move to Trash". It will be moved to the Trash folder.</p>
<p>To restore an item from the Trash, right click it and choose "Restore from
Trash". To permanently delete all trashed playlists, select the Trash folder,
click "Empty", and then confirm your decision. <b>Playlists cannot be restored
after this.</b></p>
<p>You can also delete entire folders. This will move all playlists in that
folder to Trash.</p>
<p>The currently open playlist can be placed in the Trash, but it cannot be
deleted while it is open.</p>
