---
layout: page
title: Your First Playlist
chapter: Getting Started
---

<p>When you first open Floodlight, you'll see a default playlist with a helpful
message encouraging you to read this manual. In the "Playlist" pane on the
left, right click the "Welcome to Floodlight!" segment and click "Remove".
You now have an empty playlist.</p>

<p>Empty playlists are boring, though, so let's add something else. Just under
the Playlist pane is your Library. Right click the empty area and choose
"Add-&gt;Import...". Find an image or video on your computer and click "Open"
to add it to your library. Then, drag it from your Library to the Playlist
above. You'll now see a single slide on the right. Click on it to show the
image on the screen.</p>

<h1 id="adding-songs">Adding Songs</h1>
<p>Of course, you'll want to add songs to your playlist, not just media. There
are several ways to add songs to your Library.</p>

<h2 id="copy-and-paste">Copy and Paste</h2>
<p>You can easily copy and paste lyrics into Floodlight. First, copy the lyrics
you want to import. Then, right click the Library pane and go to Add-&gt;Paste
Lyrics. A new song will be created, and a tab will be opened so you can edit
it.</p>

<h2 id="manually">Manually</h2>
<p>You can add a song manually. Right click the Library pane and go to
"Add-&gt;Song". This will open the Song Editor tab. Refer to
<a href="{{ site.baseurl }}/editing-slideshows/editing-lyrics.html">Editing Lyrics</a>
to add lyrics to your new song.</p>

<h1 id="headers">Headers</h1>
<p>Headers can help organize your playlist into parts, such as Pre-Service,
Service, and Post-Service. Right click the segment you want to add a header
above and choose "Add Header". Then type a name for the header and press Enter.
</p>

<h1 id="enable-output">Enable Output</h1>
<p>When you're ready to present, go to the top right corner of the console and
enable the "Output" toggle. You can rearrange the displays in Preferences.</p>
