---
layout: page
title: Display Settings
chapter: Advanced Topics
---

<p>By default, Floodlight uses three screens. Your primary monitor will be the
Presenter Console&mdash;the window you'll control Floodlight from. Your second
monitor will be the Primary display, showing lyrics or media to your
congregation. The third display, if connected, will be the Stage View. This is
a special screen designed to show relevant information to musicians or speakers
on the stage.</p>

<p>However, all of this is configurable. In the main menu, choose
"Preferences", then go to the "Displays" section. Here you will see a list of
all displays recognized by your computer. For each display, you can choose
which feed it will show, or disable it.</p>

<h1 id="feeds">Feeds</h1>

<h2 id="primary">Primary</h2>
<p>This is the main use for Floodlight: showing lyrics or media to an audience.
The thumbnails in the Presenter Console show what each slide will look like on
this feed.</p>

<h2 id="stage-view">Stage View</h2>
<p>The stage view adapts to the content of the current slide. On media slides,
it will show the same media that is on the Primary feed. For lyric slides,
both the text of the current slide and the next slide are shown together.</p>
<p>In most cases, there is also a sidebar which shows the current time and any
notes that have been set on the segment (see
<a href="adding-notes.html">Adding Notes</a>).</p>

<h3 id="showing-different-media-on-each">Showing Different Media on Each</h3>
<p>In some cases, it might be helpful to show different videos on the Primary
and Stage View feeds. For example, you might want the audience to see a music
video, but those on stage to see a clearer lyrics-only video. This is easy.
In the slide editor (see
<a href="../editing-slideshows/editing-slides.html">Editing Slides</a>), change
the layout from "Media" to "Stage Media". You will then be able to set the
videos separately. When the slide is played, both videos will play at once.
Only the video on the Primary feed will play audio.</p>

<h1 id="output-view">Output View</h1>
<p>In the upper left corner of the Presenter Console is the Output View. This
shows a small preview of every enabled display. You can switch between them
with the tabs.</p>
<p>If multiple tabs have the same name, it's because multiple displays are
set to show the same feed.</p>
