$accent: rgb(244, 142, 35)

@import toc

html, body
  padding: 0
  margin: 0
  height: 100%
  overflow: hidden

body
  font-family: "Verdana", "Cantarell", sans-serif
  display: flex
  flex-direction: column

header
  position: sticky
  display: flex
  flex-wrap: wrap
  align-items: center

  padding: .5em
  background-color: black
  color: white

  a.title
    margin-right: 1em
    font-size: 1.5em
    color: $accent
    font-weight: bold
    text-decoration: none

  .page-title
    font-size: 1.2em

  .back-to-homepage
    margin-left: 2em
    flex-grow: 1
    text-align: right
    color: white
    text-decoration: none

.main-container
  display: flex
  flex-grow: 1

  overflow: hidden

  main
    overflow-y: auto
    padding-right: 2em
    padding-left: 1em

  nav
    position: sticky
    padding-right: 1em
    background-color: #ccc
    overflow-y: auto

  nav
    @media (max-width: 500px)
      display: none

.main-container-index
  overflow: auto
  padding-left: 2em
  padding-right: 2em

@import darkmode
