---
layout: index
title: Welcome to Floodlight!
---

<h1>Welcome to Floodlight!</h1>
<p>This User Manual is the comprehensive guide to using Floodlight. It is
available on Floodlight's website at
<a href="https://floodlight.gitlab.io/presenter/usermanual">https://floodlight.gitlab.io/presenter/usermanual</a>
or in Floodlight itself by clicking "Online Help" in the main menu.
</p>

<p>If you find an error or typo, or notice something that could be better
about this documentation, you can help make it better! See the
<a href="/get-involved">Getting Involved guide</a>.</p>
