<header>
  <a class="title" href="{{ site.baseurl }}/usermanual">Floodlight User Manual</a>
  <span class="page-title">
    {%- if page.chapter -%}
      {{ page.chapter | escape }}:&nbsp;
    {%- endif -%}
    {{ page.title | escape }}
  </span>
  <a class="back-to-homepage" href="/">Back to Homepage</a>
</header>
