<nav class="toc">
<ol>
  {%- for chapter in site.data.contents.chapters -%}
    <li>
      {{ chapter.name | escape }}

      <ol>
        {%- for pagename in chapter.pages -%}
          <li>
            <a href="{{ site.baseurl }}/usermanual/{{ chapter.dir }}/{{ pagename | slugify }}.html"
              class="{%- if pagename == page.title && chapter.name == page.chapter -%} current {%- endif -%}">
                {{ pagename | escape }}
            </a>
          </li>
        {%- endfor -%}
      </ol>
    </li>
  {%- endfor -%}
</ol>
</nav>
