---
layout: page
title: Backgrounds
chapter: Editing Songs
---

<p>Backgrounds are helpful because they make it easier to look at the screen
for a long time. However, it's important to make sure backgrounds aren't
distracting. Backgrounds must loop perfectly or the transition will be jarring.
</p>

<p>When importing your backgrounds, make sure to choose the "Background" preset
instead of "Media". This automatically sets the background to fill the screen.
If the background is a video, it also makes sure the volume is set to
0 and that it loops.</p>

<p>To set a background for a segment, click the gear icon on the right. In the
panel that appears, click the button labeled "Background". Choose an image or
video from your library, and it will be set as the background. This only takes
effect on the displays when the slide is changed.</p>

<h2 id="finding-good-backgrounds">Finding Good Backgrounds</h2>
<p>Floodlight has a few motion backgrounds available to download for free
<a href="https://floodlight.gitlab.io/resources">here</a>.</p>
